<div id="accountParentTwo" class="boxWrapperParent">
    <div id="accountChildTwo" class="boxWrapperChild">
        <div id="profileInfo">
            <img src="{{friend.profilePic}}" alt="placeholderProfilePic" width="120px" height="120px" id="profilePic" style="border: 0.1rem solid {{colour}}">
            <aside>
                <p id="name" style="color: {{friend.mColour}}; text-shadow: 0 0 3px black; float:left">{{friend.name}}{{#if notFriends}}<img class="notFriends" id="{{friend.name}}" src="/imgs/addUser.png" style="display: inline-block;width: 30px; height: 30px; vertical-align: middle">{{else}}<a href="/chatroom/{{getChatID currentUserPlayer friend.name}}"><img class="message" src="/imgs/message.png" style="width: 30px; height: 30px"></a>{{/if}}</p>
                <br>
                <div style="display: table">
                    {{#if notPrivate}}
                        <p id="onlineStatus" style="color: {{colour}};text-shadow: 1px 1px black;float:left">{{status}}</p><br>
                        <p style="float: left">W/L: {{divideAndRound friend.wins friend.losses}}</p><br>
                        <p style="float:left">Wins: {{friend.wins}}</p><p style="float:right">Losses: {{friend.losses}}</p><br>
                        <p style="float: left">{{#if online}}Last Online: {{formatDate friend.updatedAt}}<br>{{/if}}</p>
                    {{else}}
                        <p>This users account is private.</p>
                    {{/if}}
                </div>
            </aside>
        </div>

        {{#if notPrivate}}
            <div id="gameHistory">
                <p>Past {{pastGames.length}} Games:</p>
                <div id="pastTenGames">
                    {{#if pastGames.length}}
                        {{#each pastGames}}
                            <div class="hoverableGame" onclick="openGame(`{{this._id}}`)" style="background-color: {{isWinner ../friend.name this.winner}}">
                                <aside>
                                    <p style="font-size: 20px; float: right; text-align: left">{{this.winner}} won against {{this.loser}}.<br>{{#if this.forfeit}}{{this.loser}} forfeit the match.<br>{{/if}}
                                        Total moves made: {{this.moves.length}}<br>
                                        Type of game: {{this.lobbyType}}
                                    </p>
                                </aside>
                                <div class="boardSmall" style="background-color: #60b5b2">
                                    <!-- Row 1 --->
                                    <div class="rowSmall">
                                        <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[0].[0] ../friend.mColour ../friend.oColour}}; {{highlightPiece 0 0 this.winningPieces}}"></div>
                                        <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[0].[1] ../friend.mColour ../friend.oColour}}; {{highlightPiece 0 1 this.winningPieces}}"></div>
                                        <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[0].[2] ../friend.mColour ../friend.oColour}}; {{highlightPiece 0 2 this.winningPieces}}"></div>
                                        <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[0].[3] ../friend.mColour ../friend.oColour}}; {{highlightPiece 0 3 this.winningPieces}}"></div>
                                        <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[0].[4] ../friend.mColour ../friend.oColour}}; {{highlightPiece 0 4 this.winningPieces}}"></div>
                                        <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[0].[5] ../friend.mColour ../friend.oColour}}; {{highlightPiece 0 5 this.winningPieces}}"></div>
                                        <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[0].[6] ../friend.mColour ../friend.oColour}}; {{highlightPiece 0 6 this.winningPieces}}"></div>
                                    </div>
                                    <!-- Row 2 --->
                                    <div class="rowSmall">
                                        <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[1].[0] ../friend.mColour ../friend.oColour}}; {{highlightPiece 1 0 this.winningPieces}}"></div>
                                        <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[1].[1] ../friend.mColour ../friend.oColour}}; {{highlightPiece 1 1 this.winningPieces}}"></div>
                                        <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[1].[2] ../friend.mColour ../friend.oColour}}; {{highlightPiece 1 2 this.winningPieces}}"></div>
                                        <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[1].[3] ../friend.mColour ../friend.oColour}}; {{highlightPiece 1 3 this.winningPieces}}"></div>
                                        <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[1].[4] ../friend.mColour ../friend.oColour}}; {{highlightPiece 1 4 this.winningPieces}}"></div>
                                        <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[1].[5] ../friend.mColour ../friend.oColour}}; {{highlightPiece 1 5 this.winningPieces}}"></div>
                                        <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[1].[6] ../friend.mColour ../friend.oColour}}; {{highlightPiece 1 6 this.winningPieces}}"></div>
                                    </div>
                                    <!-- Row 3 --->
                                    <div class="rowSmall">
                                        <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[2].[0] ../friend.mColour ../friend.oColour}}; {{highlightPiece 2 0 this.winningPieces}}"></div>
                                        <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[2].[1] ../friend.mColour ../friend.oColour}}; {{highlightPiece 2 1 this.winningPieces}}"></div>
                                        <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[2].[2] ../friend.mColour ../friend.oColour}}; {{highlightPiece 2 2 this.winningPieces}}"></div>
                                        <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[2].[3] ../friend.mColour ../friend.oColour}}; {{highlightPiece 2 3 this.winningPieces}}"></div>
                                        <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[2].[4] ../friend.mColour ../friend.oColour}}; {{highlightPiece 2 4 this.winningPieces}}"></div>
                                        <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[2].[5] ../friend.mColour ../friend.oColour}}; {{highlightPiece 2 5 this.winningPieces}}"></div>
                                        <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[2].[6] ../friend.mColour ../friend.oColour}}; {{highlightPiece 2 6 this.winningPieces}}"></div>
                                    </div>
                                    <!-- Row 4 --->
                                    <div class="rowSmall">
                                        <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[3].[0] ../friend.mColour ../friend.oColour}}; {{highlightPiece 3 0 this.winningPieces}}"></div>
                                        <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[3].[1] ../friend.mColour ../friend.oColour}}; {{highlightPiece 3 1 this.winningPieces}}"></div>
                                        <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[3].[2] ../friend.mColour ../friend.oColour}}; {{highlightPiece 3 2 this.winningPieces}}"></div>
                                        <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[3].[3] ../friend.mColour ../friend.oColour}}; {{highlightPiece 3 3 this.winningPieces}}"></div>
                                        <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[3].[4] ../friend.mColour ../friend.oColour}}; {{highlightPiece 3 4 this.winningPieces}}"></div>
                                        <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[3].[5] ../friend.mColour ../friend.oColour}}; {{highlightPiece 3 5 this.winningPieces}}"></div>
                                        <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[3].[6] ../friend.mColour ../friend.oColour}}; {{highlightPiece 3 6 this.winningPieces}}"></div>
                                    </div>
                                    <!-- Row 5 --->
                                    <div class="rowSmall">
                                        <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[4].[0] ../friend.mColour ../friend.oColour}}; {{highlightPiece 4 0 this.winningPieces}}"></div>
                                        <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[4].[1] ../friend.mColour ../friend.oColour}}; {{highlightPiece 4 1 this.winningPieces}}"></div>
                                        <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[4].[2] ../friend.mColour ../friend.oColour}}; {{highlightPiece 4 2 this.winningPieces}}"></div>
                                        <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[4].[3] ../friend.mColour ../friend.oColour}}; {{highlightPiece 4 3 this.winningPieces}}"></div>
                                        <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[4].[4] ../friend.mColour ../friend.oColour}}; {{highlightPiece 4 4 this.winningPieces}}"></div>
                                        <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[4].[5] ../friend.mColour ../friend.oColour}}; {{highlightPiece 4 5 this.winningPieces}}"></div>
                                        <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[4].[6] ../friend.mColour ../friend.oColour}}; {{highlightPiece 4 6 this.winningPieces}}"></div>
                                    </div>
                                    <!-- Row 6 --->
                                    <div class="rowSmall">
                                        <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[5].[0] ../friend.mColour ../friend.oColour}}; {{highlightPiece 5 0 this.winningPieces}}"></div>
                                        <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[5].[1] ../friend.mColour ../friend.oColour}}; {{highlightPiece 5 1 this.winningPieces}}"></div>
                                        <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[5].[2] ../friend.mColour ../friend.oColour}}; {{highlightPiece 5 2 this.winningPieces}}"></div>
                                        <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[5].[3] ../friend.mColour ../friend.oColour}}; {{highlightPiece 5 3 this.winningPieces}}"></div>
                                        <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[5].[4] ../friend.mColour ../friend.oColour}}; {{highlightPiece 5 4 this.winningPieces}}"></div>
                                        <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[5].[5] ../friend.mColour ../friend.oColour}}; {{highlightPiece 5 5 this.winningPieces}}"></div>
                                        <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[5].[6] ../friend.mColour ../friend.oColour}}; {{highlightPiece 5 6 this.winningPieces}}"></div>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    {{else}}
                        <p>Empty huh..? Must be a new account!</p>
                    {{/if}}
                </div>
                <p>Ongoing Games:</p>
                <div id="ongoingGames">
                    {{#if currentGames.length}}
                        {{#each currentGames}}
                            {{#if (isAFriend ../friend.name ../currentUserPlayer)}}
                                <div class="hoverableGame" onclick="openGame(`{{this._id}}`)" style="background-color: {{isWinner ../friend.name this.whosTurn}}">
                                    <aside>
                                        <p style="font-size: 20px; float: right; text-align: left">{{this.whosTurn}}'s turn to move!<br>
                                            Total moves made: {{this.moves.length}}<br>
                                            Type of game: {{this.lobbyType}}
                                        </p>
                                    </aside>
                                    <div class="boardSmall">
                                        <!-- Row 1 --->
                                        <div class="rowSmall">
                                            <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[0].[0] ../friend.mColour ../friend.oColour}};"></div>
                                            <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[0].[1] ../friend.mColour ../friend.oColour}};"></div>
                                            <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[0].[2] ../friend.mColour ../friend.oColour}};"></div>
                                            <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[0].[3] ../friend.mColour ../friend.oColour}};"></div>
                                            <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[0].[4] ../friend.mColour ../friend.oColour}};"></div>
                                            <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[0].[5] ../friend.mColour ../friend.oColour}};"></div>
                                            <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[0].[6] ../friend.mColour ../friend.oColour}};"></div>
                                        </div>
                                        <!-- Row 2 --->
                                        <div class="rowSmall">
                                            <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[1].[0] ../friend.mColour ../friend.oColour}};"></div>
                                            <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[1].[1] ../friend.mColour ../friend.oColour}};"></div>
                                            <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[1].[2] ../friend.mColour ../friend.oColour}};"></div>
                                            <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[1].[3] ../friend.mColour ../friend.oColour}};"></div>
                                            <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[1].[4] ../friend.mColour ../friend.oColour}};"></div>
                                            <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[1].[5] ../friend.mColour ../friend.oColour}};"></div>
                                            <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[1].[6] ../friend.mColour ../friend.oColour}};"></div>
                                        </div>
                                        <!-- Row 3 --->
                                        <div class="rowSmall">
                                            <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[2].[0] ../friend.mColour ../friend.oColour}};"></div>
                                            <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[2].[1] ../friend.mColour ../friend.oColour}};"></div>
                                            <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[2].[2] ../friend.mColour ../friend.oColour}};"></div>
                                            <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[2].[3] ../friend.mColour ../friend.oColour}};"></div>
                                            <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[2].[4] ../friend.mColour ../friend.oColour}};"></div>
                                            <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[2].[5] ../friend.mColour ../friend.oColour}};"></div>
                                            <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[2].[6] ../friend.mColour ../friend.oColour}};"></div>
                                        </div>
                                        <!-- Row 4 --->
                                        <div class="rowSmall">
                                            <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[3].[0] ../friend.mColour ../friend.oColour}};"></div>
                                            <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[3].[1] ../friend.mColour ../friend.oColour}};"></div>
                                            <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[3].[2] ../friend.mColour ../friend.oColour}};"></div>
                                            <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[3].[3] ../friend.mColour ../friend.oColour}};"></div>
                                            <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[3].[4] ../friend.mColour ../friend.oColour}};"></div>
                                            <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[3].[5] ../friend.mColour ../friend.oColour}};"></div>
                                            <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[3].[6] ../friend.mColour ../friend.oColour}};"></div>
                                        </div>
                                        <!-- Row 5 --->
                                        <div class="rowSmall">
                                            <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[4].[0] ../friend.mColour ../friend.oColour}};"></div>
                                            <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[4].[1] ../friend.mColour ../friend.oColour}};"></div>
                                            <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[4].[2] ../friend.mColour ../friend.oColour}};"></div>
                                            <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[4].[3] ../friend.mColour ../friend.oColour}};"></div>
                                            <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[4].[4] ../friend.mColour ../friend.oColour}};"></div>
                                            <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[4].[5] ../friend.mColour ../friend.oColour}};"></div>
                                            <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[4].[6] ../friend.mColour ../friend.oColour}};"></div>
                                        </div>
                                        <!-- Row 6 --->
                                        <div class="rowSmall">
                                            <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[5].[0] ../friend.mColour ../friend.oColour}};"></div>
                                            <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[5].[1] ../friend.mColour ../friend.oColour}};"></div>
                                            <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[5].[2] ../friend.mColour ../friend.oColour}};"></div>
                                            <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[5].[3] ../friend.mColour ../friend.oColour}};"></div>
                                            <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[5].[4] ../friend.mColour ../friend.oColour}};"></div>
                                            <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[5].[5] ../friend.mColour ../friend.oColour}};"></div>
                                            <div class="cellSmall" style="background-color: {{whichColor this.player1 this.player2 ../friend.name this.board.[5].[6] ../friend.mColour ../friend.oColour}};"></div>
                                        </div>
                                    </div>
                                </div>
                            {{/if}}
                        {{/each}}
                    {{else}}
                        <p>Empty huh..? Let them know to play!</p>
                    {{/if}}
                </div>
            </div>
        {{/if}}
    </div>
</div>

<script>
    function openGame(gameID) {
        $.get('/view/', {gameID: gameID});
    }
</script>